# Ignoring Screenshot produced by Run
 
screenshot
 
*.png
*.jpg
*.jpeg
 
 
#ignoring project files and logs
*.html
 
#ignoring all .pyc files
*.pyc

# Report
output.xml
*.png
*.html
*.js

*.libspec
/libspecs/
.idea